*{
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box; 
    background: #312e81;
}
.container{
 border: 2px solid blueviolet;
 height: 500px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}
.app-interface{
  border: 2px solid green;
  width: 80%;
  color: palegreen;
  height: 500px;
}
.answer-1{
    border: 2px solid wheat;
}
.answer-2{
    border: 2px solid wheat;
}
.answer-3{
    border: 2px solid wheat;
}
.Answers{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
   line-height: 100px;
}